@use './btn_icon' as btn-icon;
@use '../base/responsive' as *;

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #666;
  width: 100%;
  padding-bottom: 1rem;

  .material-icons {
    font-size: 6rem;
  }

  &__image {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #666;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
  }

  &__actions {
    width: 100%;
    // background: red;

    @include respond-to(sm){
      max-width: 280px;
    }

    button {
      padding: 0.5rem 5rem;
      width: 100%;
    }

  }

}