@use '../base/variables' as v;

.toast{
  z-index: 10000;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: v.$secondary;
  color: #fff;
  width: max-content;
  padding: 0.5rem 1rem;
  min-width: 15rem;
  border-radius: 0.4rem;
  font-size: 0.7rem;
  text-align: center;
}