@use '../module/input-mixin' as im;

.editor {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;

  &__title {
    font-weight: 500;
    font-size: 1.7rem;
  }

  &__description {
    font-weight: 500;
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }

  &__media {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      textarea {
        @include im.input;
      }

    }
  }

  &__quill {
    width: 100%;
    padding-top: 0.5rem;

    quill-editor {
      width: 100%;
      background: #ebebeb;
      height: calc(100vh - 40vh);
      display: block;
      border-radius: 0.5rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 1rem 0;
  }

}