@use '../base/variables' as v;
@use '../state/fixed-elments' as fe;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  color: #fff;
  background-color: v.$primary;
  @include fe.fixed-element();

  .material-icons {
    cursor: pointer;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__title {
    font-weight: bold;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__hidden {
    display: none;
  }
}