@use '../base/variables' as v;
@use '../state/fixed-elments' as fe;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  color: #fff;
  background-color: v.$primary;
  z-index: 1;
  @include fe.fixed-element();

  .material-icons {
    cursor: pointer;
  }


  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__title {
    font-weight: bold;
    cursor: pointer;
  }

  &__nav {
    ul, li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__avatar{
    $size: 24px;
    width: $size;
    height: $size;
    background-color: #eee;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__hidden {
    display: none;
  }
}