@use '../base/variables' as v;

.sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  position: fixed;
  top: 44px;

  &--left{
    left: 0;
    transform: translateX(-110%);
  }

  &--right{
    right: 0;
    left: auto;
    transform: translateX(110%);
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: v.$primary;
    font-weight: 600;
    width: 100%;

    li{
      cursor: pointer;
    }

    // li {
    //   border-bottom: 0.005rem solid #ccc;
    //   padding-bottom: 0.4rem;
    // }
  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-weight: 500;
  }

  &__user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem 1.5rem;
  }

  &__avatar{
    $size: 60px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-image: url('/images/user.png');
    // background-color: #eee;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #eee;
  }

  &__info{
    p{
      font-size: 1rem;
      font-weight: bold;
      margin: 0 !important;
    }
    span{
      font-size: 0.8rem;
      margin: 0;
    }
  }

}

.sidemenuopen {
  transform: translateX(0);
}