@use '../base/variables' as v;

.sidemenu {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  position: fixed;
  top: 44px;
  // left: 0;

  // &--session{
  //   right: 0;
  //   transform: translateX(200%);
  // }

  &--left{
    left: 0;
    transform: translateX(-110%);
  }

  &--right{
    right: 0;
    left: auto;
    transform: translateX(110%);
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: v.$primary;
    font-weight: 600;
    width: 100%;

    li {
      border-bottom: 0.005rem solid #ccc;
      padding-bottom: 0.4rem;
    }
  }

}

.sidemenuopen {
  transform: translateX(0);
}