<div class="card">
  @if(cover()){
    <div class="card__cover" [ngStyle]="{'background-image':'url(' + cover() +')'}"></div>
  }@else{
    <div class="card__cover" [ngStyle]="{'background-image':'images/land.jpg'}"></div>
  }
  
  <div class="card__author">
    @if(authorAvatar())
    {
      <div class="card__avatar" [ngStyle]="{'background-image': 'url(' + authorAvatar() + ')'}"></div>
    }@else{
      <div class="card__avatar" [ngStyle]="{'background-image': 'images/face.jpg'}"></div>
    }
    
    <ng-content selector="[card-author]"></ng-content>
  </div>
  <div class="card__content">
    <ng-content select="[card-title]"></ng-content>
    <ng-content select="[card-description]"></ng-content>
  </div>
</div>