<div class="avatar">
  @if(url()){
    <div class="avatar__image" [ngStyle]="{'background-image': 'url(' + url() + ')'}"></div>
  }@else{
    <span class="material-icons">{{typeMedia() === 'avatar' ? 'person': 'image'}}</span>
  }

  <div class="avatar__actions">
    <button class="btn btn--clear" type="button"
      (click)="onSelectImage()"
    >
    <span class="material-icons">image</span>
      image
    </button>
    <input hidden #fileInput type="file" accept=".jpg,.png,.jpeg"/>
  </div>

</div>