<!-- sidemenu.component.html -->
<div class="sidemenu" [ngClass]="{ 
    'sidemenu': true, 
    'sidemenuopen': isOpenLeft() || isOpenRight(), 
    'sidemenu--right': typeMenu() == 'right',
    'sidemenu--left': typeMenu() == 'left',
   }">

  @if(typeMenu() == 'right')
  {
    @if(user){
      <div class="sidemenu__user">
        <div class="sidemenu__avatar" [ngStyle]="{'background-image':'url(' + user.profileImage + ')'}"></div>
        <div class="sidemenu__info">
          <p>{{user.name}}</p>
          <span>{{user.email}}</span>
        </div>
      </div>
    }
  }

  <ul>
    @if(typeMenu() == 'left')
    {
    @for(link of navLinks; track $index)
    {
    <li class="sidemenu__item" (click)="handleRouter(link.url)">
      <span class="material-icons">{{link.icon}}</span>
      {{link.label}}
    </li>
    }
    }@else{
    @for(link of sessionLinks(); track $index){
    <li class="sidemenu__item" (click)="handleRouter(link.url)">
      <span class="material-icons">{{link.icon}}</span>
      {{link.label}}
    </li>
    }
    }

  </ul>
</div>